/* variables */
:root {
  --realblack-color: #000;
  --black-color: #212121;
  --white-color: #fff;
  --blue-color: #2196f3;
  --darkgrey-color: #2f303a;
  --grey-color: #757575;
  --studioteam-color: #f5f4fa;
  --border-color: #ececec;
  --social-color: #afb1b8;
  --modal-background: #0000001a;
}

/* global styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--black-color);
  width: 1600px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-top: 100px;
}

h2 {
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h3 {
  color: var(--black-color);
  font-weight: 700;
  font-size: 14px;
}

.section {
  padding: 94px 0;
}

/* container style */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* navigation styles */
.menu {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}

.menu__list {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.menu__link {
  display: block;
}

.logo-web {
  color: var(--blue-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--realblack-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio--menu-down {
  color: var(--white-color);
}

.menu__nav {
  position: relative;
  display: flex;
  margin-right: 93px;
}

.menu__nav > .menu__list:not(:last-child) {
  margin-right: 46px;
}
.menu__list {
  position: relative;
}

.menu__link--is-active::after {
  position: absolute;
  top: 36px;
  left: 0px;
  content: "";
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.menu__link {
  display: block;
  color: var(--black-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--blue-color);
  fill: var(--grey-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__email {
  margin-left: 345px;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.menu__phone {
  margin-left: 30px;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  gap: 10px;
}
.menu__email:hover,
.menu__phone:hover,
.menu__email:focus,
.menu__phone:focus {
  color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-down {
  background-color: var(--darkgrey-color);
}

.menu-down__flex-container {
  display: flex;
  align-items: baseline;
}

.menu-down__contact {
  display: inline;
  margin-right: 70px;
}

.menu-down__logo {
  margin-bottom: 20px;
  padding-top: 60px;
}

.menu-down__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 60px;
}

.menu-down__city {
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.menu-down__email {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.menu-down__email:hover,
.menu-down__email:focus {
  color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-down__phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.menu-down__phone:hover,
.menu-down__phone:focus {
  color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-down__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 0 20px 0;
}

.menu-down__newsletter {
  margin-left: 78px;
}

.menu-down__form {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.menu-down__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--realgrey-color);
  outline: none;
}

.menu-down__input:focus {
  border: 1px solid var(--blue-color);
}

.menu-down__label {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* studio page styles */
.studio {
  background-color: var(--white-color);
}

.studio__slide {
  height: 600px;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/Img.jpg");
  background-size: auto 100%, auto 100%;
}

.studio__slide--inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-button {
  background: var(--blue-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0px;
}

.big-button:hover,
.big-button:focus {
  color: var(--blue-color);
  background: var(--white-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.big-button--order,
.big-button--send {
  padding: 10px 42px;
}

.big-button--newsletter {
  height: 50px;
  margin-left: -10px;
}

.big-button--newsletter:hover > .icon-plane {
  fill: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assets {
  padding-top: 81px;
}

.assets__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.assets__list li {
  flex-basis: calc((100% - 90px) / 4);
}

.assets__description {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 171%;
  margin-top: 0;
}

.assets__heading {
  margin: 30px 0 10px 0;
}

.what-we-do {
  padding-top: 0;
}

.what-we-do__heading {
  margin-bottom: 50px;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  position: relative;
}

.what-we-do__background {
  width: 370px;
  padding: 27px 0 27px;
  position: absolute;
  top: 224px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.what-we-do__img {
  width: 370px;
  height: 294px;
}

.team {
  background-color: var(--studioteam-color);
  padding-top: 0;
}
.team__heading {
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-top: 94px;
  margin: 0 0 31px 0;
}

.team__people {
  background-color: var(--studioteam-color);
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__member {
  margin: 0;
}

.team__people > li {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  margin: 30px 0 0 0;
}

.team__role {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 10px 0 0 0;
}

.team__socials {
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 30px 32px;
}

.clients {
  padding-top: 0;
}

.clients__heading {
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-top: 94px;
  margin: 0 0 50px 0;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;
}

/* modal window styles */

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--modal-background);
}

.modal--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--white-color);
  animation-name: modal-effect;
  animation-duration: 3000ms;
  animation-timing-function: ease;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes modal-effect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.modal__xbutton {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__form {
  position: relative;
}

.modal__container {
  position: absolute;
  left: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 448px;
}

.modal__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
}

.modal__label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 30px;
  fill: black;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin: 4px 0 10px 0;
  outline: none;
  padding-left: 42px;
}

.modal__input:focus {
  border: 1px solid var(--blue-color);
}
.modal__input:focus + .modal__icon {
  fill: var(--blue-color);
}

.modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 448px;
  height: 120px;
  margin: 4px 0 20px 0;
  padding: 12px 0 0 16px;
  outline: none;
}

.modal__comment:focus {
  border: 1px solid var(--blue-color);
}

.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__policy-container {
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
}

.modal__policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--grey-color);
  letter-spacing: 0.03em;
  margin: 0 0 30px 12px;
  cursor: pointer;
}

.modal__policy-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -10px;
  width: 16px;
  height: 15px;
  background-image: url("../images/icon-unchecked.svg");
}

.modal__policy-input:checked + .modal__policy-label::before {
  background-image: url("../images/icon-checked.svg");
}
.modal__policy-input {
  appearance: none;
  margin: 0;
  padding: 0;
}

.modal__policy-link {
  text-decoration: underline;
  color: var(--blue-color);
}

/* portfolio page styles */

.filters {
  padding-bottom: 0;
}

.filters__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.filters__buttons button {
  background: var(--studioteam-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}

.filters__buttons button:hover,
.filters__buttons button:focus {
  background: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  padding-top: 34px;
}

.projects__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.projects__single-project {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.projects__single-project:focus .projects__overlay,
.projects__single-project:hover .projects__overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__box:hover,
.projects__box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__overlay {
  padding: 49px 45px 0 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__list > li {
  background-color: var(--white-color);
}

.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 20px 0 0 20px;
}

.projects__type {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  margin: 4px 0 20px 0;
}

/* icons styles */

.menu__icon-envelope {
  fill: var(--grey-color);
}

.menu__icon-envelope:hover,
.menu__icon-envelope:focus {
  fill: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone {
  fill: var(--grey-color);
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assets__icon {
  background: #f5f4fa;
  border-radius: 4px;
}

.social-icon {
  background-size: 44px 44px;
  fill: var(--social-color);
  border-radius: 50%;
}

.social-icon:hover,
.social-icon:focus {
  background-size: 44px 44px;
  fill: var(--white-color);
  background-color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon--footer {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon--footer:hover,
.social-icon--footer:focus {
  background-color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  margin-bottom: 0;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  fill: var(--social-color);
}

.icon-clients:hover,
.icon-clients:focus {
  margin-bottom: 0;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  fill: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__xbutton--fill {
  fill: var(--white-color);
}

.icon-plane {
  margin: 0 0 0 24px;
  fill: var(--white-color);
}
