.menu {
  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  &__nav {
    position: relative;
    display: flex;
    margin-right: 93px;
    & > .menu__list:not(:last-child) {
      margin-right: 46px;
    }
  }

  &__list {
    position: relative;
  }

  &__link {
    @include menu__link;
    display: block;
    &--is-active::after {
      position: absolute;
      top: 36px;
      left: 0px;
      content: "";
      width: 53px;
      height: 4px;
      border-radius: 2px;
      background-color: $blue-color;
    }
    &:hover,
    &:focus {
      color: $blue-color;
      fill: $grey-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__email {
    @include menu__email;
    margin-left: 345px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    &:hover,
    &:focus {
      color: $blue-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__phone {
    @include menu__email;
    margin-left: 30px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    &:hover,
    &:focus {
      color: $blue-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
